/* @override http://appden.com/lib/portfolio.css */

#content {
	background: none;
}

#alpha {
	width: auto;
	float: none;
}

#intro {
	margin: 0 20px 40px;
}

#intro p {
	font-size: 14px;
	line-height: 1.2;
}

#thumbs li {
	float: left;
	margin: 10px 20px;
	width: 250px;
	height: 250px;
}

#thumbs .thumb {
	display: block;
	position: relative;
	width: 250px;
	height: 150px;
	left: -1px;
	border: 1px solid #b9b9b9;
	background-color: gray;
	margin-bottom: 10px;
}

#thumbs .zoom {
	position: absolute;
	right: -1px;
	bottom: -1px;
	width: 62px;
	height: 58px;
	background-image: url('../remooz/img/zoom.png');
}

#thumbs p, .details {
	margin-top: 5px;
	line-height: 1.2;
}

#thumbs a{
	border-bottom:none;
}

#thumbs .details {
	display: none;
}

.link {
	font-size: 15px;
}

.remooz-btn-close {
	z-index: 10;
}

.remooz-body {
	overflow: hidden;
	position: relative;
}

.remooz-body .overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px 80px 0;
	height: 85px;
	color: #969696;
	background-image: url('../remooz/img/overlay.png');
	z-index: 10;
}

.remooz-body .overlay .pagination {
	float: right;
	font-size: 9px;
	text-transform: uppercase;
	color: #868686;
}

.remooz-body .overlay a {
	color: #0f6f7a;
	border-bottom: none;
}

.remooz-body .overlay a:hover{
	color: #FF0;
}



.remooz-body .overlay .credits {
	font-size: 0.9em;
}

.remooz-body .overlay .next,
.remooz-body .overlay .prev {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 40px;
	cursor: pointer;
}

.remooz-body .overlay .next {
	right: 25px;
	background-image: url('../remooz/img/next.png');
}

.remooz-body .overlay .prev {
	left: 25px;
	background-image: url('../remooz/img/prev.png');
}

.remooz-body img {
	position: absolute;
	top: 0;
	left: 0;
}

.zoom-mask {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 40;
}

a.remooz-btn-close{ border: none }

