<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  {% if page.description  %}
    <meta name="description " content="{{ page.description  }}">
  {% endif %}
  <link rel="stylesheet" href="/media/css/style.css">
  <link rel="stylesheet" href="/media/css/highlight.css">
  <link rel="icon" href="/media/image/favicon.ico">
  <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/media/js/jquery.tagcloud.js"></script>
  <link href="/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <!-- mathjax config similar to math.stackexchange -->

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      	inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    	displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>


<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
    
</head>
<body class="single">
  {% include header.md %}
  <hr/>
  <div id="content">
    <article>
        {{ content }}
    </article>
    {% include aside.md %}
    <div class="clear"></div>
  </div>
  {% include footer.md %}
  {% include analysis.md %}
</body>
</html>
