---
layout: default
---

<section class="post hentry">
    <div class="title">
      <h2>{{ page.title }}</h2>
      <small>
        <date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
          <span class="month">{{ page.date | date: '%B' }}</span>
          <span class="day">{{ page.date | date: '%d' }}</span>
          <span class="year">{{ page.date | date: '%Y' }}</span>
        </date>  ，类别：
        {% for cat in page.categories %} 
         <a href="/categories.html#{{ cat }}-ref" title="{{ cat }}" rel="category tag">{{ cat }}</a>
        {% endfor %}
      </small>
    </div>
    <div class="entry">
      {{ content }}
    </div>
    <div class="post-meta">
      标签：
        {% for tag in page.tags %}
            <a href="/tags.html#{{ tag }}-ref" title="{{ tag }}" rel="category tag">{{ tag }}</a>
        {% endfor %}
    </div>
    <div class="post-meta">
      相关文章：
        {% for post in site.related_posts limit:3 %}
        <li class="related">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </div>
    <nav class="post-nav">
      {% if page.previous %}
      <span class="previous">前一篇：<a href="{{ page.previous.url }}" rel="prev" title="{{ page.previous.title }}">{{ page.previous.title }}</a></span>
      {% endif %}
      {% if page.next %}
      <span class="next">后一篇：<a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a></span>
      {% endif %}
      <div class="clear"></div>
    </nav>
  </section>
  {% include share.md %}
  <br>
  {% include comments.md %}
  <script type="text/javascript">
  $(function(){
    $(document).keydown(function(e) {
    var url = false;
        if (e.which == 37 || e.which == 74) {  // Left arrow and J
            {% if page.previous %}
        url = '{{ site.url }}{{ page.previous.url }}';
        {% endif %}
        }
        else if (e.which == 39 || e.which == 75) {  // Right arrow and K
            {% if page.next %}
        url = '{{ site.url }}{{ page.next.url }}';
        {% endif %}
        }
        if (url) {
            window.location = url;
        }
    });
  })
</script>
