html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{background:transparent;border:0;margin:0;padding:0;outline:0;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
html{-webkit-text-size-adjust:none;}
body{background: url("/media/image/bg.png") repeat scroll 0 0 transparent;margin:0 auto;width:960px;font:12pt Georgia,serif;color:#444;text-align:center;}
h1,h2,h3,h4,h5,h6{clear:both;font-weight:normal;}
hr{display:none;}
ol,ul{list-style:none outside none;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
table th,table td{word-wrap:break-word;overflow:hidden;}
caption,th,td{font-weight:normal;text-align:left;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
del{text-decoration:line-through;}
div,p{white-space:normal;word-break:normal;word-wrap:break-word;}
fieldset,img,a img{border:none;}
textarea{resize:both;}
a{color:#08c;text-decoration:none;}
a:focus,a:active,a:hover{color:#08c;text-decoration:underline;}
.clear{clear:both;}
.clearer{clear:both;display:block;margin:0;padding:0;height:0;line-height:1px;font-size:1px;}
:focus{outline:0;}
:link,:visited,ins{text-decoration:none;}
::-moz-selection{background:#b5d5ff;color:#000;}
::selection{background:#b5d5ff;color:#000;}

header h1{#height:1.1em;}
header .menu li{padding:3px 6px;}
hr{clear:both;background-color:#ccc;border:none;height:1px;margin-bottom:1.6em;}
p{margin-bottom:1.6em;}
ul,ol{clear:both;margin:0 0 1.6em 4em;}
ul{list-style:disc;}
ol{list-style-type:decimal;}
ol ol{list-style:upper-alpha;}
ol ol ol{list-style:lower-roman;}
ol ol ol ol{list-style:lower-alpha;}
ul ul,ol ol,ul ol,ol ul{margin-bottom:0;}
dl{margin:0 1.6em;}
dt{font-weight:bold;}
dd{margin-bottom:1.6em;}
strong{font-weight:bold;}
small{font-size:smaller;}
cite,em,i{font-style:italic;}
blockquote{margin:0 3em;font-style:italic;font-weight:normal;font-family:Georgia,serif;}
blockquote em,blockquote i,blockquote cite{font-style:normal;}
blockquote cite{color:#666;font-weight:300;letter-spacing:0.05em;text-transform:uppercase;font:12px "Helvetica Neue",Helvetica,Arial,sans-serif;}
pre{overflow:auto;background:#f7f7f7;margin-bottom:1.6em;padding:0.7em 1.6em;line-height:1.5;font:13px "Courier 10 Pitch",Courier,monospace;color:#222;}
code,kbd{font:13px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;}
abbr,acronym,dfn{border-bottom:1px dotted #666;cursor:help;}
address{display:block;margin:0 0 1.625em;}
ins{background:#fff9c0;text-decoration:none;}
big{font-size:131.25%;}
sup,sub{position:relative;height:0;line-height:1;vertical-align:baseline;font-size:12px;}
sup{bottom:1ex;}
sub{top:.5ex;}

header{margin:20px 220px 0 0; padding:20px 0 0 0;height:120px;}
#content{background:#fff url(/media/image/sidebg.png) repeat-y scroll top right;border:1px solid #e0e0e0;border-color:rgba(228,219,219,0.86);margin:0 0 10px;border-radius:5px;}
#content article{float:left;padding:10px 35px;width:648px;}
aside{float:right;width:240px;}
footer{clear:both;padding:0 0 9px;text-align:left;margin-bottom: 1em;}

header .hgroup{float:left;display:inline-block;max-width:280px;_zoom:1;margin-left: 2em;}
header h1,header .description{text-align:left;}
header h1{float:left;overflow:hidden;display:inline;line-height:1;font-size:55px;}
header h1,header h1 a{color:#1b47B9;}
header h1 a:hover{color:#000;text-decoration:underline;}
header h3 {font-size:.95em;}

header div.menu,header nav{float:left;overflow:hidden;height:25px;text-align:right;}
header div.menu{width:560px; float:left; margin-right: 2em;}
header nav{width:590px;}
header div.menu ul,header nav ul{margin:0;list-style:none;float:left}
header .menu{margin:0;padding:10px 0 0 0;}
header .menu li{display:inline-block;margin:0 5px;padding:0 6px;line-height:21px;color:#666;_zoom:1;font-size: 1.2em;}
header .menu li a{color:#333;}
header .menu li a:hover{color:#08c;text-decoration:none;}
header .menu li.sub-ul{}
header .menu li.current_page_item a,header .menu li.current-menu-item a,header .menu li.current_page_parent a{color:#999;}
header .menu li.current_page_item a:hover,header .menu li.current-menu-item a:hover,header .menu li.current_page_parent a:hover{color:#999;}
header .menu li:hover > ul{display:block;}
header .menu li ul{display:none;position:absolute;border:1px solid #bbb;margin:0;padding:0;z-index:2;width:150px;border-radius:7px;}
header .menu li ul li,header .menu li ul li a{color:#666;}
header .menu li ul li{display:block;margin:0 4px;padding:0;text-align:left;}
header .menu li ul ul{margin:-24px 0 0 143px;}
header .menu li ul a{display:block;margin:0 -3px;padding:1px 7px;border-radius:7px;}
header .menu li ul a:hover{border:1px solid #aecff7;padding:0 6px;}
header .site-title{height:55px}
header .description{margin-top: 10px;height:18px} 

.entry h1,.entry h2,.entry h3,.entry h4,.entry h5,.entry h6{margin:0 0 .9em;line-height:1.5em;}
.entry h1,.entry h2{color:#222}
.entry h1 {font-size:1.75em;}
.entry table {border:1px solid #e7e7e7;border-collapse:collapse;margin:0 0 1.6em;text-align:left;width:100%;}
.entry th {border-top:1px solid #e7e7e7;padding:4px 8px;color:#666;font-size:12px;font-weight:bold;letter-spacing:0.1em;line-height:1.6em;text-transform:uppercase;}
.entry td {border-top:1px solid #e7e7e7;padding:4px 8px;display:table-cell;vertical-align:inherit;}
.entry tr.odd td {background:#f2f7fc;}
.entry input,.entry textarea{color:#333;font-size:16px;line-height:24px;}
.entry ul ul,.entry ol ol,.entry ul ol,.entry ol ul{margin-bottom:0;}
.entry pre,.entry kbd,.entry tt,.entry var{font-size:15px;line-height:21px;}
.entry code{font-size:13px;}
.entry dt,.entry th{color:#000;}
.entry fieldset{border:1px solid #e7e7e7;margin:0 0 24px 0;padding:24px;}
.entry fieldset legend{background:#fff;color:#000;font-weight:bold;padding:0 24px;}
.entry input{margin:0 0 24px 0;}
.entry input.file,.entry input.button{margin-right:24px;}
.entry label{color:#888;font-size:12px;}
.entry select{margin:0 0 24px 0;}
.entry sup,.entry sub{font-size:12px;}
.entry blockquote.left{float:left;margin-left:0;margin-right:24px;text-align:right;width:33%;}
.entry blockquote.right{float:right;margin-left:24px;margin-right:0;text-align:left;width:33%;}

section {overflow:hidden;margin:10px 0 20px;text-align:left;}
section .title h3{float:right;margin:0;padding:3px 0 0;font-size:1em;color:#a5acb0;}
section .title h2{margin:0;line-height:40px;font-family:'Lucida Sans Unicode','Lucida Grande',Verdana;font-size:16pt;font-weight:400;}
section .title h2,section .title h2 a{color:#000;}
section .title h2 a:hover{text-decoration:underline;}
section .title small,article .title small a{font-size:0.9em;color:#888;}
section .title small a:hover{color:#357;}
section .entry {margin:5px 4px;line-height:1.8;font-size:1em;}
section .entry p{margin:8px 0;}
section .entry p::-moz-selection,section .entry p::selection{background:#3875d7;color:#fff;}
section .entry img{border:1px solid rgba(0,0,0,0.2);padding:1px;max-width:600px;height:auto;}
section .entry img.post-image{transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;}
section .entry img.post-image:hover{transform:scale(1.03) rotate(2deg);-moz-transform:scale(1.03) rotate(2deg);-webkit-transform:scale(1.03) rotate(2deg);}
section .more-link{padding-right:10px;line-height:18px;}
section .post-meta{padding:6px 34px 5px 5px;color:#888;background-size:100% 10px;-webkit-background-size:100% 10px;border-bottom: 1px solid #DBDBDB;}
section .post-meta a{color:#08c;}

aside ul{margin:0;list-style:none;text-align:left;}
aside ul li{margin-bottom:10px;}
aside ul li li{margin-bottom:0;}
aside ul li h3{border-bottom:1px solid #dbdbdb;padding:0 14px;line-height:35px;color:#673ece;font-size:1.25em;font-weight:500;}
aside ul li a{color:#6c6f73;}
aside ul li ul{margin:0 13px;}
aside ul li ul ul{margin:0 0 0 13px;}
aside ul li ul li{border:none;padding:5px 0 0;}
aside ul li ul li a{display:block;outline:medium none;transition:padding 0.2s ease-out;-webkit-transition:padding 0.2s ease-out;-moz-transition:padding 0.2s ease-out;}
aside ul li ul li a:hover{background-position:right -44px;padding-left:5px;color:#08c;text-decoration:none;}
aside ul li ul li.current-cat a{background-position:right -80px;color:#08c;}
aside ul li ul .children{margin-left:8px;}
aside ul li div{margin:0 14px;}
aside ul li div div{margin:0;}

#comments{overflow:hidden;text-align:left;}

.navigation{clear:both;padding:0 15px 10px;text-align:right;}
.navigation a{padding:0;color:#1b4486;}
.navigation a:hover{}
.navigation .alignleft a,.navigation .alignright a{border:1px solid #ccc;padding:5px 12px;border-radius:5px;}
.navigation .alignleft a:hover,.navigation .alignright a:hover{background:#ccc;border-color:#ccc;color:#000;}
.post-nav,.post-link{clear:both;border-bottom:1px solid #dbdbdb;padding:3px 0 10px;font-size:1em;line-height:1.5;}
.post-nav a, .post-nav a:visited{text-decoration:none;}
.post-nav a:hover{text-decoration:none;}
.post-nav .previous{float:left;padding-left:18px;}
.post-nav .next{float:right;padding-right:18px;text-align:right;}
.post-link {clear:both;border:none;text-align:center;}
.post-link a{border:1px solid #ededec;padding:2px 5px;text-decoration:none;border-radius:5px;}
.post-link a:hover{border-color:#08c;}
.post-link span{background:#f9f9f9;border:1px solid #ccc;padding:2px 5px;border-radius:5px;}
.post-link a span{background:none;border:none;padding:0;}

footer {margin-top:3px 0;font-size:14px;}
footer span{color:#424242; margin-top:3px;font-size:14px;}


section.page .post-meta{background:none;display:none;padding:0;}
section.archive, section.tags, section.categories{overflow:hidden;background:#f0f2f2;border:1px solid #e8e8e8;margin:5px 0 10px;padding:5px 15px;text-align:left;border-radius:5px;}
section.archive .title{color:#888;font-size:1.1em;font-style:italic;text-align:left;}

.alignleft,img.alignleft{display:inline;float:left;margin-right:24px;margin-top:4px;}
.alignright,img.alignright{display:inline;float:right;margin-left:24px;margin-top:4px;}
.aligncenter,img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
img.alignleft,img.alignright,img.aligncenter{margin-top:2em;margin-bottom:1.5em;}
.gallery{margin:0 auto 18px;}
.gallery-caption{margin:0 0 12px;}
.gallery .gallery-item{float:left;margin-top:0;text-align:center;width:33%;}
.gallery-columns-2 .gallery-item{width:50%;}
.gallery-columns-4 .gallery-item{width:25%;}
.gallery img{border:2px solid #cfcfcf;}
.gallery-columns-2 .attachment-medium{max-width:92%;height:auto;}
.gallery-columns-4 .attachment-thumbnail{max-width:84%;height:auto;}
.gallery .gallery-caption{color:#888;font-size:12px;margin:0 0 12px;}
.gallery dl{margin:0;}
.gallery img{border:10px solid #f1f1f1;}
.gallery br+br{display:none;}

.tag-link{margin-right: 8px;}
code{margin: 0 2px; padding: 0px 5px; background-color: #FEE9CC; border-radius: 3px;}
pre code, .highlight code{margin: 0; padding: 0; background-color: transparent; border: none;}
.clearline{margin:.2em .2em .5em .2em;clear:both;background-color:#ccc;border-bottom: 1px solid #6D6E70;}
