{% unless page.title == '全部文章' %}<script src="/js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
{% include link-js.html %}{% endunless %}
{% include ga.html %}		
{% if page.comment %}<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
		<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=1558027" charset="utf-8"></script>{% comment %}	
			{% include disqus.html %}
		{% endcomment %}
{% endif %}	
{% if page.title == '分类标签' %}{% include tag-js.html %}
{% include show-tag.html %}	{% endif %}