<script type="text/javascript">
    	var jq = jQuery.noConflict();
        jq(document).ready(function(){             

            jq('.posts a').each(function(index,element){
                var href = jq(this).attr('href');
                if(href.indexOf('#') == 0){
                }else if ( href.indexOf('/') == 0 || href.toLowerCase().indexOf('art.yanping.me')>-1 ){
                }else{
                    jq(this).attr('target','_blank');
                    jq(this).addClass('external');
                }
            });
           
        });	

</script>