---
layout: default
---
<div id="post">
{{ content }}
</div>

<div id="related">
  <h3>Possibly Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<!-- This is for code colorization which doesn't seem to work very well in IE... i guess I don't care very much -->
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shCore.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushRuby.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushPhp.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushXml.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushCss.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushBash.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushJScript.js"></script>
<script language="javascript">
dp.SyntaxHighlighter.ClipboardSwf = 'http://communicatopia.s3.amazonaws.com/js/clipboard.swf';
//name, showGutter, showControls, collapseAll, firstLine , showColumns
dp.SyntaxHighlighter.HighlightAll('code',false, false,false,1,false);
</script>